<body>
  <mat-card class="shopping-cart-card">
    <div class="header">
      <h3 class="title">Panier</h3>
    </div>
    <span *ngFor="let product of userShoppingCart">
      <div style="display: flex">
        <img src="assets/festival.jpeg" alt="Festival" style="width: 150px" />
        <div class="about">
          <h1 class="title">{{ product.festival.nom }}</h1>
          <h3 class="subtitle">{{ product.festival.commune }}</h3>
          <img src="assets/favicon.png" alt="icon" style="height: 30px" />
        </div>
      </div>

      <div style="display: flex">
        <img src="assets/lodging.jpeg" alt="Hébergement" style="width: 150px" />

        <div class="about">
          <h1 class="title">{{ product.lodging.nom }}</h1>
          <h3 class="subtitle">{{ product.lodging.commune }}</h3>
          <img src="assets/favicon.png" alt="icon" style="height: 30px" />
        </div>
      </div>
      <div class="prices">
        <div class="amount">{{ product.nbPass }} pass</div>
      </div>
    </span>

    <hr />
    <br />
    <div class="prices">
      <div class="amount">Total : {{ totalNumberOfPass }} pass</div>
    </div>
    <button
      *ngIf="isConnected"
      class="button"
      (click)="pay()"
      [disabled]="!isConnected"
    >
      Payer
    </button>
    <button
      *ngIf="!isConnected"
      class="button-not-connected"
      [disabled]="isConnected"
    >
      Payer
    </button>
    <br />
  </mat-card>
  <mat-card *ngIf="!isConnected" class="not-connected shopping-cart-card">
    <p>Veuillez vous connecter pour payer</p>
  </mat-card>
</body>
