<body>
  <mat-card class="shopping-cart-card">
    <div class="header">
      <h3 class="title">Panier</h3>
    </div>
    <div style="display: flex">
      <img src="assets/festival.jpeg" alt="Festival" style="width: 210px" />
      <div class="about">
        <h1 class="title">{{ festivalTemp.nom }}</h1>
        <h3 class="subtitle">{{ festivalTemp.commune }}</h3>
        <img src="assets/favicon.png" alt="icon" style="height: 30px" />
      </div>
    </div>
    <div class="prices">
      <div class="amount">€112.99</div>
    </div>

    <div style="display: flex">
      <img src="assets/lodging.jpeg" alt="Hébergement" style="width: 210px" />

      <div class="about">
        <h1 class="title">{{ lodgingTemp.nom }}</h1>
        <h3 class="subtitle">{{ lodgingTemp.commune }}</h3>
        <img src="assets/favicon.png" alt="icon" style="height: 30px" />
      </div>
    </div>
    <div class="prices">
      <div class="amount">€319.99</div>
    </div>

    <hr />
    <br />

    <div style="text-align: right">
      <div class="subtotal">Total</div>
      <div class="items">2 produits</div>
      <div class="total-amount">$6.18</div>
    </div>

    <button class="button">Payer</button>
  </mat-card>
</body>
