<mat-toolbar color="primary">
  <img
    src="../assets/logo_and_label.png"
    alt="Logo"
    class="logo"
    routerLink="/festival"
    title="Rechercher un festival"
  />

  <span class="item-spacer"></span>

  <!--Festival search-->
  <input
    *ngIf="currentRoute !== '/lodging'"
    class="search-input"
    type="text"
    placeholder="Rechercher un Festibed"
    [(ngModel)]="searchValue"
    (keyup.enter)="searchFestival()"
  />
  <button
    *ngIf="currentRoute !== '/lodging'"
    mat-icon-button
    class="button-spacer search-icon"
    (click)="searchFestival()"
  >
    <mat-icon class="icon-spacer">search</mat-icon>
  </button>

  <button
    *ngIf="currentRoute !== '/lodging'"
    mat-icon-button
    class="button-spacer search-icon"
    #filterTrigger="matMenuTrigger"
    [matMenuTriggerFor]="filterMenu"
  >
    <mat-icon class="icon-spacer">filter_alt</mat-icon>
  </button>

  <!--Lodging search-->
  <input
    *ngIf="currentRoute === '/lodging'"
    class="search-input"
    type="text"
    placeholder="Rechercher un Festibed"
    [(ngModel)]="searchValue"
    (keyup.enter)="searchFestival()"
  />
  <button
    *ngIf="currentRoute === '/lodging'"
    mat-icon-button
    class="button-spacer search-icon"
    (click)="searchFestival()"
  >
    <mat-icon class="icon-spacer">search</mat-icon>
  </button>

  <button
    *ngIf="currentRoute === '/lodging'"
    mat-icon-button
    class="button-spacer search-icon"
    #filterTrigger="matMenuTrigger"
    [matMenuTriggerFor]="filterMenu"
  >
    <mat-icon class="icon-spacer">filter_alt</mat-icon>
  </button>
  <mat-menu #filterMenu="matMenu" class="login-menu">
    <a (click)="$event.stopPropagation(); $event.preventDefault()">
      <div *ngIf="currentRoute !== '/lodging'">
        <festival-filter
          (filtersChange)="searchFestival($event)"
        ></festival-filter>
      </div>
      <div *ngIf="currentRoute === '/lodging'">
        <lodging-filter
          (filtersChange)="searchLodging($event)"
        ></lodging-filter>
      </div>
    </a>
  </mat-menu>

  <span class="item-spacer"></span>

  <button
    mat-icon-button
    class="button-spacer"
    #loginTrigger="matMenuTrigger"
    [matMenuTriggerFor]="loginMenu"
  >
    <mat-icon *ngIf="userPictureUrl === ''" class="icon-spacer">
      account_circle
    </mat-icon>
    <img
      *ngIf="userPictureUrl !== ''"
      src="{{ userPictureUrl }}"
      alt="User"
      class="user-picture"
    />
  </button>
  <mat-menu #loginMenu="matMenu" class="login-menu">
    <a (click)="$event.stopPropagation(); $event.preventDefault()">
      <login></login>
    </a>
  </mat-menu>

  <button mat-icon-button class="button-spacer" routerLink="/shopping-cart">
    <mat-icon class="icon-spacer">shopping_cart</mat-icon>
  </button>
</mat-toolbar>
