<mat-toolbar color="primary">
  <img
    src="../assets/logo_with_label.png"
    alt="Logo"
    class="logo"
    routerLink="/home"
    title="Acceuil"
  />

  <span class="toolbar-spacer"></span>

  <input
    class="search-input"
    type="text"
    placeholder="Rechercher un Festibed"
  />
  <button mat-icon-button class="button-spacer search-icon">
    <mat-icon class="icon-spacer">search</mat-icon>
  </button>

  <span class="toolbar-spacer"></span>

  <button mat-icon-button class="button-spacer" [matMenuTriggerFor]="loginMenu">
    <mat-icon class="icon-spacer">account_circle</mat-icon>
  </button>
  <mat-menu #loginMenu="matMenu" class="login-menu">
    <a (click)="$event.stopPropagation(); $event.preventDefault()">
      <login></login>
    </a>
  </mat-menu>

  <button mat-icon-button class="button-spacer">
    <mat-icon class="icon-spacer">shopping_cart</mat-icon>
  </button>
</mat-toolbar>
