<mat-form-field appearance="fill" class="criteria">
  <mat-label>Type de festival</mat-label>
  <mat-select
    [(value)]="selectedType"
    (selectionChange)="sendFiltersToParent()"
  >
    <mat-option *ngFor="let type of festivalList" [value]="type">
      {{ type.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
{{ selectedType.name }}

<mat-form-field appearance="fill" class="criteria">
  <mat-label>Département</mat-label>
  <mat-select
    [(ngModel)]="selectedDepartement"
    (selectionChange)="sendFiltersToParent()"
  >
    <mat-option
      *ngFor="let departement of departementList"
      [value]="departement"
    >
      {{ departement.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

{{ selectedDepartement.name }}

<mat-form-field appearance="fill" class="criteria">
  <mat-label>Mois</mat-label>
  <mat-select
    [(ngModel)]="selectedMonth"
    (selectionChange)="sendFiltersToParent()"
  >
    <mat-option *ngFor="let month of months" [value]="month">
      {{ month.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
{{ selectedMonth.name }}
