.lodging-filter-input {
  border-radius: 5px;
  border: none;
  font-size: medium;
  outline: none;
  width: 200px;
  height: 50px;
  background-color: rgb(200, 222, 240);
  margin: 0px 15px;
  text-align: center;
}

.lodging-label {
  margin-bottom: 0;
  text-align: center;
  color: rgb(61, 61, 61);
}
