<mat-form-field appearance="fill">
  <mat-label>Type d'établissement</mat-label>
  <mat-select
    [(value)]="selectedType"
    (selectionChange)="sendFiltersToParent()"
  >
    <mat-option *ngFor="let type of lodgingTypeList" [value]="type">
      {{ type.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
<div style="display: block">
  <p class="lodging-label">Nombre de personnes</p>
  <input
    type="number"
    matInput
    [(ngModel)]="numberOfPeople"
    class="lodging-filter-input"
    placeholder="Nombre de personnes"
    (keyup.enter)="sendFiltersToParent()"
    min="1"
    max="10"
  />
</div>
<!--
<input
  type="text"
  class="lodging-filter-input"
  placeholder="Rechercher par ville"
  [(ngModel)]="cityValue"
  (keyup.enter)="sendFiltersToParent()"
/>
-->
