.lodging-filter-input {
  border-radius: 5px;
  border: none;
  font-size: medium;
  outline: none;
  padding-left: 10px;
  margin-right: 20px;
  width: 200px;
  height: 50px;
  background-color: rgb(200, 222, 240);
  margin: 20px 15px;
}
