<mat-card *ngFor="let lodging of lodgingList" class="festi-card">
  <img src="assets/lodging.jpeg" alt="Lodging" style="height: 100px" />
  <div style="display: block">
    <h1 class="festi-title">{{ lodging.nom | uppercase }}</h1>
    <p class="festi-desc">{{ lodging.classement }}</p>
    <p class="festi-desc">{{ lodging.commune }}</p>
  </div>
  <span class="item-spacer"></span>
  <button
    mat-button
    class="festi-button"
    routerLink="/shopping-cart"
    (click)="addProductToShoppingCart(lodging)"
  >
    Ajouter au panier
  </button>
</mat-card>
