.align-buttons {
  display: inline-flex;
}

.role-button {
  background-color: #3988e2;
  color: white;
}

.class-cool {

}

.center-elements {
  justify-content: center;
  text-align: center;
  margin: 10px 20px;
}

.you-are-text {
  font-size: 20px;
  font-weight: bold;
  margin: auto;
  margin-bottom: 20px;
  color: #0b3391;
}

.loggin-form-spacer {
  margin: 20px 20px 0 20px;
}

.login-card {
  background-color: #b1dcf0;
}

.bottom-card {
  margin-top: 15px;
}
