<div class="center-elements">
  <!--
  <mat-card class="login-card">
    <p class="you-are-text">Vous êtes ?</p>
    <div class="align-buttons">
      <button
        mat-button
        (click)="enableFestivalGoerTab()"
        [ngClass]="{ 'role-button': festivalGoerTabIsActive }"
      >
        Festivalier
      </button>
      <button
        mat-button
        (click)="disableFestivalGoerTab()"
        [ngClass]="{ 'role-button': !festivalGoerTabIsActive }"
      >
        Hébergeur/Organisateur
      </button>
    </div>
  </mat-card>
  <mat-card class="login-card bottom-card">
  <div class="loggin-form-spacer">-->
  <span *ngIf="festivalGoerTabIsActive">
    <facebook-login></facebook-login>
  </span>
  <!--
      <span *ngIf="!festivalGoerTabIsActive">
        <professional-login></professional-login>
      </span>
  </div>
  </mat-card>-->
</div>
