.festi-card {
  background-color: rgb(240, 240, 240);
  margin: 20px;
  display: flex;
}

.festi-title {
  margin-top: 5px;
  margin-left: 20px;
  font-weight: bold;
}

.festi-desc {
  margin-left: 20px;
}
