<mat-card *ngFor="let festi of festivalList" class="festi-card">
  <img src="assets/festival.jpeg" alt="Festival" style="height: 100px" />
  <div style="display: block">
    <h1 class="festi-title">{{ festi.nom | uppercase }}</h1>
    <p class="festi-desc">{{ festi.complementDomaine }}</p>
    <p class="festi-desc">{{ festi.commune }}</p>
  </div>
  <span class="item-spacer"></span>
  <button
    mat-button
    class="festi-button"
    (click)="saveSelectedFestival(festi)"
    routerLink="/lodging"
  >
    Sélectionner
  </button>
</mat-card>
